<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeGAMDvc5Hurp_q7fV1iw9657McYHOXTk</string>
	<key>GCM_SENDER_ID</key>
	<string>732462398747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodToday</string>
	<key>PROJECT_ID</key>
	<string>spin-the-bottle-find-your-love</string>
	<key>STORAGE_BUCKET</key>
	<string>spin-the-bottle-find-your-love.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732462398747:ios:839a5701aca89ab38d67be</string>
</dict>
</plist>